.card {
  list-style-type: none;
  width: 65%;
  margin: 20px;
  border-radius: 5px;
  background-color: var(--divider);
  box-shadow: 0 0 5px var(--divider);
  border: solid 0.5px var(--accent);
  align-self: center;
}

.project-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.project-basic {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.project-stack {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}

.project-name {
  color: var(--text-primary);
}

.project-description {
  color: var(--text-secondary)
}