.card {
  list-style-type: none;
  width: 65%;
  margin: 20px;
  border-radius: 5px;
  /*background-color: var(--divider);*/
  
  border: solid 0.5px var(--accent);
  align-self: center;
}

.card:hover {
  background-color: var(--divider)
}

.project-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid var(--accent);
}

.project-basic {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-stack {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}

.project-name {
  color: var(--text-primary);
}

.project-description {
  color: var(--text-secondary);
}

.project-details-button {
  border: none;
  margin-right: 10px;
  height: max-content;
  cursor: pointer;
  color: var(--text-primary);
  background-color: rgba(245, 222, 179, 0);
}
