.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.home-text {
  text-align: center;
}

#photo {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
