nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 125px;
  z-index: 100;
  box-shadow: var(--background);
  overflow: hidden;
  user-select: none;
}

.inner-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
}

.menu-button {
  color: var(--background);
  background-color: var(--text-primary);
  z-index: 101;
  position: fixed;
  outline: 0;
  border: 1px solid var(--accent);
  user-select: none;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .inner-nav ul {
  padding: 0;
  position: relative;
  top: 100px;
  border-top: 1px solid var(--divider);
  overflow: hidden;
}

nav .inner-nav li {
  list-style: none;
  line-height: 3;
  /* padding: 0 25px;*/
  border-bottom: 1px solid var(--accent);
}

nav .inner-nav li a {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-primary);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  padding: 5px;
  padding-left: 15px;
}

nav .inner-nav li a:hover {
  color: var(--accent);
  background-color: var(--divider);
}

.themeButton {
  font: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  text-decoration: none;
  color: var(--text-primary);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  padding-top: 25px;
  padding-bottom: 25px;
}

.themeButton:hover {
  color: var(--accent);
  background-color: var(--divider);
}
