nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav a {
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: var(--text-primary);
  margin: 10px;
  padding: 10px;
}

nav a:hover {
  border-radius: 5px;
  color: var(--accent);
  background-color: var(--divider);
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--background);
  box-shadow: 0px 0px 10px var(--accent);
  border: solid 0.5px var(--accent);
}

.name {
  user-select: none;
  color: var(--text-primary);
}

.theme-button {
  display: flex;
  justify-content: center;
  text-align: center;
}