:root {
  --background: #fff;
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --divider: rgba(0, 0, 0, 0.05);
  --accent: #7e22ce;
}

[data-theme="dark"] {
  --background: #121212;
  --text-primary: #fff;
  --text-secondary: rgba(255, 255, 255, 0.7);
  --divider: rgba(255, 255, 255, 0.05);
  --accent: #99f6e4;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

